@model PartsUnlimited.HRBenefits.Web.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Employee: " + Model.FirstName + " " + Model.LastName + " (" + Model.Reference + ")";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Employee" asp-action="Edit" method="post">
    <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" id="firstname" asp-for="FirstName">
    </div>
    <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" id="lastname" asp-for="LastName">
    </div>
    <div class="form-group">
        <label for="reference">Reference</label>
        <input type="text" class="form-control" id="reference" asp-for="Reference">
    </div>
    <div class="form-group">
        <label for="dateofbirth">Date Of Birth</label>
        <input type="text" class="form-control" id="dateofbirth" asp-for="DateOfBirth">
    </div>
    <div class="form-group">
        <label for="addressnumber">House Number</label>
        <input type="text" class="form-control" id="addressnumber" asp-for="AddressNumber">
    </div>
    <div class="form-group">
        <label for="addressstreet">Street</label>
        <input type="text" class="form-control" id="addressstreet" asp-for="AddressStreet">
    </div>
    <div class="form-group">
        <label for="addresscity">City</label>
        <input type="text" class="form-control" id="addresscity" asp-for="AddressCity">
    </div>
    <div class="form-group">
        <label for="addresspostalcode">Postal Code</label>
        <input type="text" class="form-control" id="addresspostalcode" asp-for="AddressPostalCode">
    </div>
    <div class="form-group">
        <label for="addresscountry">Postal Country</label>
        <input type="text" class="form-control" id="addresscountry" asp-for="AddressCountry">
    </div>
    <div class="form-group">
        <label for="grossmonthlysalary">Gross Monthly Salary</label>
        <input type="text" class="form-control" id="grossmonthlysalary" asp-for="GrossMonthlySalary">
    </div>
    <div class="form-group">
        <label for="joineddompanydate">Joined The Company On</label>
        <input type="text" class="form-control" id="joineddompanydate" asp-for="JoinedCompanyDate">
    </div>
    <div class="form-group">
        <label for="nbdaysofholidays">Number Of Days Of Holidays</label>
        <input type="text" class="form-control" id="nbdaysofholidays" asp-for="NbDaysYearlyHolidays">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="isgrantedcar" asp-for="IsGrantedCar">
        <label class="form-check-label" for="isgrantedcar">Grant Car</label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
