@{
    ViewData["Title"] = "Home Page";
}

<h1>Employees</h1>

<p>Click on an employee to edit its benefits.</p>

<table class="table">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        <tr><td><a href="#">John Smith</a></td></tr>
    </tbody>
</table>
