@model PartsUnlimited.HRBenefits.Web.ViewModels.EmployeesViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Employees</h1>

<p>Click on an employee to edit its benefits.</p>

<table class="table">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
    @foreach(var employee in Model.Employees)
    {
        <tr><td><a href="#">@employee.FirstName @employee.LastName</a></td></tr>
    }
    </tbody>
</table>
